body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.progressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    gap: 50px;
}

.progress-container {
    --size: 150px;
    --stroke-width: 10;

    width: var(--size);
    position: relative;
    margin: 0 auto;
}

.progress-container::after {
    content: attr(data-value) "%";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: sans-serif;
    color: #000000;
}

.progress-svg {
    rotate: -90deg;
}

.progress-svg-bg,
.progress-svg-value {
    fill:none;
    stroke-width: var(--stroke-width);
}

.progress-svg-bg {
    stroke: #eaf0f6;
}

.progress-svg-value {
    stroke: #005cff;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#input-value{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.control-container{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 170px;
}

.control-input {
    display: flex;
    gap: 30px;
}

.control-checkbox {
    display: flex;
    gap: 30px;
    align-items: center;
}

.control-checkbox-hidden {
    display: flex;
    gap: 30px;
    align-items: center;
}

.input-value-text {
    display: flex;
    align-items: center;
}

.checkbox-group {
    position: relative;
    width: 64px;
    height: 25px;
}

.checkbox-group input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dae6ec;
    transition: .4s;
    border-radius: 25px;
}

.checkbox-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .checkbox-slider {
    background-color: #005cff;
}

input:checked + .checkbox-slider:before {
    transform: translateX(40px);
}

@media (max-width: 500px){
    body{
        padding: 20px 0px;
    }

    .container{
        gap: 20px;
    }

    .progressbar{
        flex-direction: column;
    }
}
