body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
    flex-direction: column;
}

.progress-text {
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.progressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    gap: 30px;
}

.progress-container {
    --size: 150px;
    --stroke-width: 10;

    width: var(--size);
    position: relative;
    margin: 0 auto;
}

.progress-container::after {
    content: attr(data-value) "%";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: sans-serif;
    color: #000000;
}

.progress-svg {
    rotate: -90deg;
}

.progress-svg-bg,
.progress-svg-value {
    fill:none;
    stroke-width: var(--stroke-width);
}

.progress-svg-bg {
    stroke: #bfbfbf;
}

.progress-svg-value {
    stroke: #000;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#input-value{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}